<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer Proyecto</title>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <!--Admin LTE3-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

    <!--Estilos-->
    <link rel="stylesheet" href="assets/css/estilos.css">
    
</head>
<body>

    <header>
        <h1>Primer Proyecto</h1>
    </header>

    <section id="app" >
        <article>
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">
                <div>
                    <h3>Listado de actividades completadas (total {{total}}):</h3>
                    <ol>
                        <li v-for="actividad in actividades" :key="actividad">{{actividad}}</li>
                    </ol>
                </div>
                </h3>
            </div>
        </article>

        

        <article >
            <div class="card">
                <div class="card-body">
                    <h5>Seleccione las tareas para actualizar la lista en tiempo real.</h5>
                    <ul class="todo-list ui-sortable" data-widget="todo-list">
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input @Change="evaluar" type="checkbox" v-model='a1' >
                            </div>
                            <span class="text">Crear una aplicación web que muestre una lista de tareas pendientes utilizando HTML, CSS y Responsive Design para el diseño y la estructura de la página.</span>
                            <small class="badge badge-primary"><i class="far fa-clock"></i> ok</small>
                        </li>
                        <li>
                        <!--<li class="done">-->
                            <div class="icheck-primary d-inline ml-2">
                                <input  @Change="evaluar" type="checkbox" v-model='a2'>
                            </div>
                            <span class="text">Utilizar Flexbox y CSS Grid para crear un diseño adaptable y moderno.</span>
                            <small class="badge badge-secondary"><i class="far fa-clock"></i> ok</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input @Change="evaluar" type="checkbox" v-model='a3'>
                            </div>
                            <span class="text">Utilizar Git y GitHub para el control de versiones del código y permitir la colaboración de varios desarrolladores.</span>
                            <small class="badge badge-success"><i class="far fa-clock"></i> ok</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input @Change="evaluar" type="checkbox" v-model='a4'>
                            </div>
                            <span class="text">Utilizar los fundamentos de JavaScript, eventos y arreglos para crear una lista de tareas interactiva y dinámica.</span>
                            <small class="badge badge-danger"><i class="far fa-clock"></i> ok</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input @Change="evaluar" type="checkbox" v-model='a5'>
                            </div>
                            <span class="text">Utilizar objetos y clases para organizar y estructurar el código de la aplicación.</span>
                            <small class="badge badge-warning"><i class="far fa-clock"></i> ok</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input @Change="evaluar" type="checkbox" v-model='a6'>
                            </div>
                            <span class="text">Seleccionar y manipular elementos del DOM utilizando JavaScript para actualizar la lista de tareas en tiempo real.</span>
                            <small class="badge badge-info"><i class="far fa-clock"></i> ok</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input @Change="evaluar" type="checkbox" v-model='a7'>
                            </div>
                            <span class="text">Utilizar promesas asíncronas, Fetch y LocalStorage para almacenar y recuperar los datos de la lista de tareas de forma persistente.</span>
                            <small class="badge badge-dark"><i class="far fa-clock"></i> ok</small>
                        </li>
                    </ul>
                </div>
            </div>
        </article>     
    </section>

    <h2>Flexbox y Media Queries</h2>
    <section class="seccionTecnologias">
        <article>
            <div class="imgGit">
                <img src="assets/img/gitLogo.png" alt="Logo Git">
                <h2>Administrador de versiones de código</h2>
            </div>
        </article>
        <article>
            <div class="imgGithub">
                <img src="assets/img/github.webp" alt="Logo GitHub">
                <h2>Sitio para almacenar repositorios de código en la nube y trabajar de forma colaborativa en un mismo proyecto</h2>
            </div>
        </article>
        <article>
            <div class="imgVue">
                <img src="assets/img/vue.png" alt="Logo Vue">
                <h2>Tecnología moderna para trabajar en Front End</h2>
            </div>
        </article>
    </section>

    <h2>CSS Grid</h2>
    <section class="seccionCssGrid">
        <div class="grid-container">
            <div>
                <div class="imgGit">
                    <img src="assets/img/gitLogo.png" alt="Logo Git">
                    <h2>Administrador de versiones de código</h2>
                </div>
            </div>
            <div>
                <div class="imgGithub">
                    <img src="assets/img/github.webp" alt="Logo gitHub">
                    <h2>Sitio para almacenar repositorios de código en la nube y trabajar de forma colaborativa en un mismo proyecto</h2>
                </div>
            </div>
            <div>
                <div class="imgVue">
                    <img src="assets/img/vue.png" alt="Logo Vue">
                    <h2>Tecnología moderna para trabajar en Front End</h2>
                </div>
            </div>  
        </div>
    </section>

    <h2><b>Enlace a Github en la imagen (da click en la imágen)</b></h2>
    <section class="seccionGitHub">
        <div class="container">
            <div class="row imgGithub">
                <div class="col-4"></div>
                <div class="col-4">
                    <a href="https://github.com/UNI-MTWDM/Primerproyecto-twmp">
                        <img src="assets/img/github.png" alt="Enlace a sitio de GitHub">
                    </a>
                </div>
                <div class="col-4"></div>
            </div>
        </div>

    </section>

    <footer>
        
    </footer>

    <script src="assets/js/app.js"></script>
    <!--AdminLTE3-->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    a1: false,
                    a2: false,
                    a3: false,
                    a4: false,
                    a5: false,
                    a6: false,
                    a7: false,
                    total: 0,
                    actividades: [],
                }
            },
            methods:{
                evaluar(){
                    this.total=0;
                    this.actividades = [];
                    if (this.a1)
                        {
                            this.total++;
                            this.actividades.push('HTML, CSS y Responsive Design');
                        }

                    if (this.a2)
                        {
                            this.total++;
                            this.actividades.push('Flexbox y CSS Grid');
                        }

                    if (this.a3)
                        {
                            this.total++;
                            this.actividades.push('Git y GitHub');
                        }

                    if (this.a4)
                        {
                            this.total++;
                            this.actividades.push('Tareas interactivas');
                        }
                    
                    if (this.a5)
                        {
                            this.total++;
                            this.actividades.push('Objetos y clases en la aplicación');
                        }

                    if (this.a6)
                        {
                            this.total++;
                            this.actividades.push('Manupulación de DOM con JS');
                        }

                    if (this.a7)
                        {
                            this.total++;
                            this.actividades.push('Promesas asíncronas, Fetch y LocalStorage');
                        }
                    if (this.total == 7)
                    {
                        let h1 = document.createElement('h1');
                        let texth1 = document.createTextNode('Las tareas han sido completadas');
                            h1.appendChild(texth1);
                        document.body.appendChild(h1);
                        alert('Las tareas han sido completadas, verificar la manipulación del DOM con nuevo texto h1 al final de la página');
                    }
                }
            }
        }).mount('#app')
    </script>
</body>
</html>